<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClientApp.Properties.Settings>
            <setting name="DbHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="LettersDoze" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SpamServerHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SpamServerPort" serializeAs="String">
                <value>54321</value>
            </setting>
        </ClientApp.Properties.Settings>
    </userSettings>
</configuration>