<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab_5___SysEqu__Fractal_2_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lab_5___SysEqu__Fractal_2_.Properties.Settings>
            <setting name="defX1" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="defX2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="defY1" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="defY2" serializeAs="String">
                <value>5</value>
            </setting>
        </Lab_5___SysEqu__Fractal_2_.Properties.Settings>
    </userSettings>
</configuration>