<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Le__Scout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Le__Scout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Le__Scout.Properties.Settings>
            <setting name="DbHostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DbHostPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DbLogin" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DbPass" serializeAs="String">
                <value>152436</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="HideLog" serializeAs="String">
                <value>False</value>
            </setting>
        </Le__Scout.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Le__Scout.Properties.Settings>
            <setting name="MainTitleText" serializeAs="String">
                <value>Le+® Scout</value>
            </setting>
            <setting name="NumbersFont" serializeAs="String">
                <value>Arial, 11.25pt</value>
            </setting>
        </Le__Scout.Properties.Settings>
    </applicationSettings>
</configuration>